@import "tailwindcss";

@theme {
  --color-neutral-10: #ffffff;
  --color-neutral-100: #f6f6f6;
  --color-neutral-700: #414246;
  --shadow-header: 0px 0px 12px 0px rgba(24, 44, 194, 0.05);
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-wix), sans-serif;
}
