.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background, #ffffff);
  border-radius: 24px;
  width: fit-content;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  animation: modalFade 0.3s ease-in-out;
  overflow: visible;
}

/* .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
} */

/* .modal-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
} */

.modal-close {
    position: absolute;
    top: 0px; /* Отступ от верхнего края модального окна */
    right: -40px; /* Отступ от правого края модального окна */
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.2s ease, background-color 0.2s ease;
   } 
  
  .modal-close:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }

/* .modal-body {
  font-size: 1rem;
  line-height: 1.5;
} */

@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.desktop-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .modal-content {
    width: 90%;
    height: 100%;
    max-width: 375px;
    margin: 0;
    border-radius: 24px;
  }

  .desktop-only {
    display: none;
  }
}