.divider-line {
  display: flex;
  align-items: center;
}

.divider-line::before,
.divider-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #F5F5F5;
}

.divider-text {
  padding: 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636469;
  font-family: 'Wix Madefor Display', sans-serif;
}