.form-group {
  margin-bottom: 15px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #232325;
  margin-bottom: 8px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.form-input {
  width: 100%;
  height: 46px;
  border: 1px solid #D4D5D7;
  border-radius: 12px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #232325;
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
}

.form-input::placeholder {
  color: #D4D5D7;
  font-family: 'Wix Madefor Display', sans-serif;
}